body {
  font-family: Roboto, sans-serif;
  color: #333;
  background-color: #f1f2f6;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  max-width: 100%;
  background-color: white;
  text-align: center;
  font-size: 18px;
  padding: 20px 15px;
}

.item_image {
  display: block;
  margin: 15px auto;
  height: 120px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item .title {
  font-size: 22px;
  font-weight: bold;
}
.item .price {
  font-size: 20px;
  color: #24c486;
}

.item-controls {
  font-size: 20px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  margin-top: 25px;
}

.header {
  height: 95px;
  line-height: 95px;
  background-color: white;
  font-weight: bold;
  font-size: 30px;
}

.header_content {
  max-width: 950px;
  margin: 0px auto;
}

.header_content span {
  margin-left: 15px;
}

.section {
  max-width: 950px;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6em;
  background: white;
  padding: 30px 20px;
  height: 250px;
}

.section img {
  border-radius: 50%;
  width: 140px;
}

.root_container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(51, 51, 51);
}

.total_money_container {
  color: white;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  top: 0px;
  position: sticky;
  padding: 20px;
  margin: 10px 0px;
}

.shopping_container {
  max-width: 100%;
  background-color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  padding: 15px;
}

.shopping_container > .title {
  background-color: white;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  /* color: rgb(46, 204, 113); */
  font-weight: bold;
  padding: 15px;
}

.shopping_container > .cartList {
  background-color: white;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.shopping-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 0px;
}

.shopping-item img {
  max-height: 50px;
  max-width: 50px;
  margin-right: 7px;
  display: inline;
}

.shopping-item .title {
  font-size: 16px;
  display: inline;
}

.shopping-item .count {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  margin-left: 5px;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  background: white;
  padding: 30px;
}

.footer-content {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  color: #777;
}

.footer-content a {
  text-decoration: none;
  color: #555;
  font-style: italic;
  font-weight: bold;
}

input {
  text-align: center !important;
  width: 45px;
  height: 31.5px;
  margin: 0 10px 0 10px;
  border: 1;
  padding: 0 0 0 15px;
}

.btnAdd {
  transition-duration: 0.4s;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  width: 90px;
  height: 37px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.btnSell {
  transition-duration: 0.4s;
  background: linear-gradient(180deg, #f53b82, #f53b57);
  width: 90px;
  height: 37px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.btnDisable {
  transition-duration: 0.4s;
  background-color: #f1f2f6;
  width: 90px;
  height: 37px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  color: #333;
  cursor: auto;
}
